@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shippori+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

h1 {
    font-family: 'Estonia', cursive;
}
#coffees {
    color: aliceblue;
    margin-left: 100px;
}

.Navi {
    padding-bottom: -75px;
}

.roast {
    color: bisque;
}

p {
    color: lightgrey;
    font-size: 15px;
}


/*.jumbotron {*/
/*    opacity: 0.85;*/
/*}*/

/*ul {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: right;*/
/*}*/

/*li {*/
/*    padding-right: 20px;*/
/*}*/
/*footer {*/
/*    display: flex;*/
/*    justify-content: right;*/
/*    margin-right: 20px;*/
/*}*/

/*blockquote {*/
/*    display: flex;*/
/*    align-content: center;*/
/*}*/

/*.company {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.footerCard {*/
/*    opacity: 0.55;*/
/*    width: 100%;*/
/*    background-color: bg-light;*/
/*}*/


